#main-tickets {
    margin: 50px;
    background-color: rgb(105, 113, 180);
    color: rgb(2, 1, 1);
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    background-color: rgb(96, 175, 96);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px
}

nav ul {
    display: flex;
    justify-content: space-between;
}


li {
    list-style-type: none;
    margin: 35px
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body {
    margin: 1;
 }

.text-x1 {
    font-size: 20px;
 }

main{
    display: flex;
    justify-content: center;
}