#main-article {
    margin: 50px;
    background-color: blueviolet;
    color: rgb(2, 1, 1);
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article {

}

header {
    background-color: darkcyan;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px
}

nav ul {
    display: flex;
}


li {
    list-style-type: none;
    margin: 35px
}
a {
    color: white;
    text-decoration: none;
}

 body {
    margin: 1;
 }

 .text-x1 {
    font-size: 20px;
 }
